<div id="showcase" class="carousel slide carousel-fade">
    <!-- Carousel items -->
    <div class="carousel-inner">
        {% for post in site.categories.experience %}
          {% if post.tag contains "feature" %}
            {% if forloop.first %}
              <div class="item active">
            {% else %}
              <div class="item">
            {% endif %}   
                <img src="{{ BASE_PATH }}{{ post.image-carousel }}">
                <!--<div class="carousel-title">
                    <h2>spatial planning at any scale</h2>
                </div>-->
                <div class="carousel-caption">
                    {% if post.image-attrib %}
                    <div class="pull-right attrib hidden-phone">
                        {{ post.image-attrib }}
                    </div>
                    {% endif %}

                    <h4>
                        {{ post.title }}
                        {% if post.complete %}
                          <p class="">
                            <a href="{{BASE_PATH}}{{ post.url }}" class="btn btn-mini">Read More</a>
                          </p>
                        {% endif %}
                    </h4>
                    <p class="hidden-phone">
                        {{ post.blurb }}
                    </p>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Carousel nav -->
    <a class="carousel-control left" href="#showcase" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#showcase" data-slide="next">&rsaquo;</a>
</div>