<div id="showcase" class="carousel slide carousel-fade">
    <!-- Carousel items -->
    <div class="carousel-inner">
        {% for post in site.categories.experience %}
          {% if post.tag contains "feature" %}
            {% if forloop.first %}
              <div class="item active">
            {% else %}
              <div class="item">
            {% endif %}   
                <img src="{{ BASE_PATH }}{{ post.image-carousel }}">
                <div class="carousel-caption">

                    <h4>
                        {{ post.title }}
                        {% if post.complete %}
                          <p class="pull-right">
                            <a href="{{BASE_PATH}}{{ post.url }}" class="btn btn-mini">Read More</a>
                            {% if post.image-attrib %}
                            <div class="attrib hidden-phone pull-right">
                                {{ post.image-attrib }}
                            </div>
                            {% endif %}
                          </p>
                        {% endif %}
                    </h4>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Carousel nav -->
    <a class="carousel-control left" href="#showcase" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#showcase" data-slide="next">&rsaquo;</a>
</div>