<div class="row">
    <div class="span3">
        <div class="ecotrust-logo">
            <span>a project of </span><a href="http://www.ecotrust.org"><img src="{{ BASE_PATH }}/assets/img/ecotrust_logo08.png"></a>
        </div>
            For inquiries please contact us at <a href="mailto:madrona@ecotrust.org">madrona@ecotrust.org</a> or +1&nbsp;503.467.0786.<br/>
            <a class="small" href="{{ BASE_PATH }}/credits.html">Credits</a><br/>
            <a class="small" href="{{ BASE_PATH }}/terms.html">Terms of Use</a><br/>
        </ul>
    </div>
    <div class="span3">
        <iframe src="http://markdotto.github.com/github-buttons/github-
btn.html?user=ecotrust&repo=madrona&type=watch" allowtransparency="true"
        frameborder="0" scrolling="0" width="62px" height="20px">
        </iframe>
        <br/>
        <a href="https://twitter.com/ecotrust" class="twitter-follow-button" data-show-
        count="false" data-size="medium" data-show-screen-name="false">Follow
@ecotrust</a>
        <g:plusone annotation="inline">
        </g:plusone>
    </div>
    <div class="span3">
        <h3>
            Get Started
        </h3>
        <ul class="unstyled">
            <li>
                <a href="{{ BASE_PATH }}/developer/appliance">madrona appliance</a>
            </li>
            <li>
                <a href="http://ecotrust.github.com/madrona/docs/tutorial_create.html">your first madrona project</a>
            </li>
            <li>
                <a href="http://ecotrust.github.com/madrona/docs/deployment.html">deployment</a>
            </li>
        </ul>
    </div>
    <div class="span3">
        <h3>
            Community Resources
        </h3>
        <ul class="unstyled">
            <li>
                <a href="https://groups.google.com/group/madrona-users">mailing list</a>
            </li>
            <li>
                <a href="http://ecotrust.github.com/madrona/docs/">documentation</a>                            
            </li>
  
            <li>
                <a href="http://www.github.com/ecotrust/madrona/issues">issue tracker</a>
            </li>
        </ul>
    </div>
</div>