---
layout: page
title: madrona spatial planning framework
active: experience
---
<div class="row experience">
	<div class="span10">
		<h1>Experience</h1>
		<p>Learn about the wide range of tools being developed with Madrona and the history of the project.</p> 
	</div>
	<div class="span10">
		<h2>Madrona Projects</h2>
		<p>Madrona is being used to develop tools for both marine and terrestrial planning.  In each of the examples below, Madrona has been customized for a specific process, audience, and geography.</p>
		<div class="row">
			<div class="span12">
				{% for post in site.categories.experience reversed %}
					<div class="project">
						<div class="row">
							<div class="span6">
								<div class="thumbnail">
									{% if post.complete %}
									<a href="{{BASE_PATH}}{{ post.url}} "><img src="{{ BASE_PATH }}{{ post.image-carousel }}"/></a>
									{% else %}
									<img src="{{ BASE_PATH }}{{ post.image-carousel }}"/>
									{% endif %}
									{% if post.image-attrib %}
									<div class="attrib caption">
									    {{ post.image-attrib }}
									</div>
									{% endif %}
								</div>
							</div>
							<div class="span5">
								<h3>									
									{{ post.title }}								
								</h3>								
								<dl class="case-links">
									{% if post.application %}
									<dt>Application</dt>
										<dd><a href="{{ post.application }}">{{ post.application }}</a></dd>
									{% endif %}
									{% if post.repo %}
									<dt>Source code</dt>
										<dd><a href="{{ post.repo }}">{{ post.repo }}</a></dd>
									{% endif %}
								</dl>			
								{% if post.complete %}						
									<a href="{{BASE_PATH}}{{ post.url }}" class="btn">Read Full Case Study</a>
								{% endif %}													
							</div>
						</div>
					</div>
					<hr/>					
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="span10">
		<h2>History</h2>
		<p>The Madrona framework evolved from MarineMap, an open source planning tool developed from 2007-2011 to support stakeholders in designing marine protected areas for the California Marine Life Protection Act Initiative.  Madrona expands on the award-winning features of MarineMap to provide a much more versatile and powerful platform that can be used to create tools for both marine and terrestrial planning.</p>
		<a href="{{BASE_PATH}}/experience/history.html" class="btn">Learn more</a>
	</div>
	<div class="span10">
		<div class="row">
			<div class="span3 offset1">
			<!--{% include experience/accordion.html %}-->
			</div>
		</div>
	</div>
</div>