---
layout: page
title: madrona spatial planning framework
active: experience
---
<div class="row experience">
	<div class="span10">
		<h1>Experience</h1>
	</div>
	<div class="span10">
		<p>Madrona is being used to develop tools for both marine and terrestrial planning across a wide range of sectors.  Explore the projects below to learn how Madrona can be customized for a specific process, audience, and geography.</p>
		<div class="row">
			<div class="span12">
				{% for post in site.categories.experience reversed %}
					<div class="project">
						<div class="row">
							<div class="span6">
								<div class="thumbnail">
									{% if post.complete %}
									<a href="{{BASE_PATH}}{{ post.url}} "><img src="{{ BASE_PATH }}{{ post.image-carousel }}"/></a>
									{% else %}
									<img src="{{ BASE_PATH }}{{ post.image-carousel }}"/>
									{% endif %}
									{% if post.image-attrib %}
									<div class="attrib caption">
									    {{ post.image-attrib }}
									</div>
									{% endif %}
								</div>
							</div>
							<div class="span5">
								<h3>									
									{{ post.title }}								
								</h3>											
								<dl class='exp-list'>
									{% if post.complete %}						
										<dd><a href="{{BASE_PATH}}{{ post.url }}" class="btn">Read case study</a></dd>
									{% endif %}									
									{% if post.application %}
									<dd><a target="_blank" class='btn' href="{{ post.application }}">Go to application</a></dd>
									{% endif %}
									{% if post.log %}
									<dd><a target="_blank" class='btn' href="{{ post.log }}">Read development log</a></dd>
									{% endif %}
									{% if post.repo %}
									<dd><a target="_blank" class='btn' href="{{ post.repo }}">View source code</a></dd>
									{% endif %}
									{% if post.learn-more %}
									<dd><a target="_blank" class='btn' href="{{ post.learn-more }}">Learn more</a></dd>
									{% endif %}									
							</div>
						</div>
					</div>
					<hr/>					
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="span10">
		<h2>History</h2>
		<p>The Madrona framework evolved from MarineMap, an award-winning open source planning tool developed by the MarineMap Consortium from 2007-2011 to support stakeholders in designing marine protected areas for the California Marine Life Protection Act Initiative.</p>
		<a href="{{BASE_PATH}}/experience/history.html" class="btn">Learn more</a>
	</div>
	<div class="span10">
		<div class="row">
			<div class="span3 offset1">
			<!--{% include experience/accordion.html %}-->
			</div>
		</div>
	</div>
</div>