/* Override some defaults */
html, body {
  background-color: #eee;
}
.navbar {
  margin-top: 30px;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.content .well {
	padding-bottom: 0px;
}
/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}


.madrona-quote {
	padding-bottom: 5px;
	font-size: 32px;
	line-height: 1;
	font-family: 'Droid Sans', sans-serif;
}

.madrona-logo {
	margin-top: 20px;
	margin-left: 20px;
}

.ecotrust-logo {
	margin-top: -10px;
	margin-left: -10px;
}

.ecotrust-logo p{
	padding-left: 65px;
}

.left-side-text p {
	padding-left: 8px;
}

.logo-bar {
	padding-bottom: 0px;
}

.navbar .ecotrust-logo {
	position: absolute;
	top: 25px;
	right: 40px;
}

.primary-content {
	margin-left: 75px;
	margin-right: 75px;
	font-size: 20px;
	line-height: 1.5;
	font-family: 'Droid Sans', sans-serif;
}

.primary-nav {
	margin-right: 70px;
	margin-top: 50px;
}

.carousel .item > img {
	margin-left: auto;
	margin-right: auto;
}

.navbar .primary-nav button {
	margin-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 24px;
}

footer {
	padding-top: 20px;
	margin-left: 75px;
	margin-right: 75px;
	font-family: 'Droid Sans', sans-serif;
	font-size: 16px;
}

.bugs {
	margin-top: 40px;
	margin-bottom: 70px;
}

.bug {
	text-align: center;
	border: 2px solid black;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	max-width: 280px;
	border-radius: 25px;
	margin-bottom: 30px;
	margin-left:100px;

}

.bug h3 {
	font-size: 24px;
}

.bug p {
	font-size: 16px;
}
.bug:hover {
	background-color: whiteSmoke;
}

.bug img {
	margin-top: 3px;
	margin-left: 20px;
}

.carousel .carousel-caption {
	font-family: 'Droid Sans', sans-serif;

}
button .btn, a .btn {
	font-family: 'Droid Sans', sans-serif !important;

}
/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
	