---
---
/* Override some defaults */
html, body {
  background-color: #eee;

}

a:link {
	color: #666;
}

a:visited {
	color: #666;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.content .well {
	padding-bottom: 0px;
}

.madrona-quote {
	margin-left:0px;
	font-size: 20px;
}

.madrona-logo h1 {
	font-size: 60px;
	padding-top: 10px;
	padding-bottom: 30px;
}
.madrona-logo a{
	color: black;
}
.madrona-logo a:hover {
	text-decoration: none;
	color: #777777;
}
.madrona-logo img {
	height: 60px;
}
.ecotrust-logo {
	padding-top: 10px;
	color: #bbbbbb;
}

.logo-bar {

}

.nav-bar {
}

.primary-content {
	margin-top: 30px;
}

.primary-content p, .primary-content ul {
	padding-right: 20px;
}

.primary-nav .nav {
	margin-bottom: 10px;
	margin-left: 30px;
}

.primary-nav .nav a {
	
	color: #444444;

}

.primary-nav .nav-pills > li > a {
	padding: 1px 5px;
}

.primary-nav .nav .active a {
	background-color: #777777;
	color: white;
}

.primary-nav .nav .active img {
	visibility: visible;
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	}
}
.primary-nav .nav a.active:hover {
	background-color: #bbbbbb;
}
.primary-nav .nav a:hover {
	background-color: #777777;
	color: white;
}
.primary-nav .nav img {
	visibility: visible;
	opacity:0.15;
	filter:alpha(opacity=15); /* For IE8 and earlier */
}


.primary-nav .nav a:hover img {
	visibility: visible;
	opacity:1;
	filter:alpha(opacity=100); 
	
}

.bugs {
	margin-bottom: 40px;
}
.bug .row {
	margin: 0px auto;
}

/*.developer .bug {
	min-height: 115px;
}*/

.bug {
	margin-bottom: 15px;
	background-color: #f2f2f2;
	border: 1px solid #eee;
	border: 1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;

	-webkit-box-shadow: 0 4px 4px -2px gray;
	   -moz-box-shadow: 0 4px 4px -2px gray;
	        box-shadow: 0 4px 4px -2px gray;
}

.bug p {
	font-size: 14px;
	color: gray;
}
.bug span {
	position: relative;
	top: 3px;
	left: -4px;
}
.bug .wide {
	left: 3px;
}
.bug .icon {
	width: 15%;
	padding-right: 4%;
}
.bug img {
	width: 32px;
	padding: 5px;
}
.bug .header {

	padding-left: 5px;
	padding-bottom: 3px;
	background-color: #bbb;
	letter-spacing: 1.5px;
	height: 40px;
	font-weight: 600;
	-webkit-border-top-left-radius: 5px;
		-moz-border-top-left-radius: 5px;
		border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	font-weight: 600!important; 
	color: black;	

	-webkit-box-shadow: 0 2px 2px -2px gray;
	   -moz-box-shadow: 0 2px 2px -2px gray;
	        box-shadow: 0 2px 2px -2px gray;

}

.bug .header h3{
	font-size: 16px;
}

.bug .text a {
	color: black;
}

.bugs a:hover {
	text-decoration: none;
	color: #777777;
}



.bug .text {
	padding-top: 10px;
	font-size: 16px;
	color: black;
}

.bug .text p {
	padding-left: 50px;
}

.bug .text ul {
	padding-left: 20px;
}

.carousel .item > img {
	min-height: 400px;
	width: 100%;	
}
.carousel .carousel-caption {
	

}

h2 {

	width: 90%;
	padding-left: 32px;
	margin-bottom: 15px;
	background-image: url({{BASE_PATH}}/assets/img/tree-icon.png);
	background-repeat: no-repeat;
	background-position: 5px 2px;
	/*background-color: #81A632;*/
	/*color: #f2f2f2;*/
/*	-webkit-border-top-left-radius: 10px;
		-moz-border-top-left-radius: 10px;
		border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
		-webkit-box-shadow: 0 4px 4px -2px gray;
	   -moz-box-shadow: 0 4px 4px -2px gray;
	        box-shadow: 0 4px 4px -2px gray;*/
}

/*.experience .project {
	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	background-color: whiteSmoke;
	margin-bottom: 20px;
}
.experience .project h3 {
	font-size: 16px;
	line-height: 1;
	padding-top: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}
.experience .project img {
	padding: 10px;
}*/
/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
	