---
---
/* Override some defaults */
html, body {
  background-color: #eee;
  color: #555;
  background-image:url('../img/rough_diagonal.png');
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0px 0px 10px;
}

h1, h2, h3, h4, h5, h6 {
color: #111;
font-weight: normal;
line-height: 1.25;
}

h1 {
	font-size: 36px;
}

h3 {
	font-size: 20px;
}
h4 {
	font-size: 17px;
}

dt {
	font-weight: normal;
}

hr {
	margin: 28px 0px;
}
a:link {
	color: #993300;
}

p {
	line-height: 22px;
}

li {
	line-height: 22px;
}

a:visited {
	color: #993300;
}
.container > footer {
  margin-top: 20px;
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding-top: 5px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
  margin: 0 -60px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.feature .well {
	padding: 10px;
}

.primary-content {
	margin-top: 20px;
}
h2.tagline {
	margin-bottom: 10px;
}

.carousel .carousel-caption {
	padding-bottom: 0px;
}

.carousel-caption p {
	font-size: 14px;
	line-height: 1;
}
.carousel-caption h4 {
	font-weight: bold;
}
.carousel-caption a.btn {
	color: #444;
}

a.carousel-control {
	color: #777;
}

.carousel-title {
  position: absolute;
  right: 8%;
  left: 37%;
  bottom: 25%;
  padding: 10px 10px 5px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);
}
.carousel-title h2 {
	font-size: 40px;
}
/*
.carousel .item  {
	height: 600px;
	width: 100%;	
}*/
.madrona-logo img {
	padding-top: 10px;
}

.left-footer {
	font-size:12px;
}

.ecotrust-logo {
	margin-bottom: 16px;
}

.ecotrust-logo img {
	margin-top: -5px;
}

.primary-nav .nav-pills > li > a {
	margin-top: 25px;
	padding: 10px;
	font-size:20px;

}

.primary-nav .nav .active a {
	background-color: #ddd;
}

.primary-nav .nav a.active:hover {
	background-color: #bbbbbb;
}

.primary-nav .nav a:hover {
	background-color: #ddd;
}

.primary-nav .nav a {
	color: #777;
}

.madrona-text {
	font-size: 20px;
	line-height: 30px;
}


.bug .row {
	margin: 0px auto;
}

.bug {
	margin-bottom: 15px;
	background-color: #f2f2f2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

}
.bug h3 {
	margin-bottom: 0px;
	padding-left: 5px;
}
.feature .bug:hover {
	background-color: #ddd;
	color: #222;
}


.feature a:hover {
	text-decoration: none;
	color: #333;
}


.bug p {
	color: #444;
	padding: 0px 20px 0px 15px;
}
.bug span {
	position: relative;
	top: 3px;
	left: -4px;
}


.feature .bug img {
	width: 15%;
	max-width: 32px;
	padding: 10px 5px 5px 10px;
}
.bug img {
	padding: 5px;
}
.bug .header {
	margin-left: 5px;
	margin-bottom: 5px;
}

.services h2 img {
	margin-bottom: 5px;
}
@media (max-width: 480px) {
	.carousel-caption h4 {
		font-size: 10px;
	}
	.carousel-caption .btn {
		font-size: 10px;
		line-height: 1;
	}
	.bug h3 {
		font-size: 16px;
	}
	.bug p {
		font-size: 14px;
		padding-bottom: 5px;
	}

}

@media (min-width: 481px) and (max-width: 767px) {
	
	.bug h3 {
		font-size: 16px;
		padding-left: 0px !important;
	}
	.bug p {
		font-size: 14px;
		padding-bottom: 5px;

	}

}


@media (min-width: 768px) and (max-width: 979px) {
	.primary-nav .nav-pills > li > a {
		margin-top: 15px;

	}
	.bug h3 {
		font-size: 16px;
		padding-left: 0px !important;

	}
	.bug p {
		font-size: 14px;

	}

}

@media (min-width: 1200px) {

	.bug h3 {
		font-size: 20px;
	}
}


.bug a {
	color: #333;
}

.bug .text {
	padding-left: 9px;
}

.bug .text ul {
	padding-left: 48px;
}



.attrib {
	/*position:absolute;
	z-index:1;
	left:0;
	bottom:0;*/
	color: #777;
	font-size: 10px;
}
.attrib a {
	color: #777;
}

.project {
	margin-bottom: 40px;
}

.services ul {
	list-style: none inside;
	list-style-image:url('../img/checkbox2.png');
}
.services li {
	line-height: 28px;
	font-size: 16px;
}

.icons li {
	line-height: 40px;
}

.carousel.carousel-fade .item {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
  left: 0;
  z-index: 1;
}

.carousel.carousel-fade .carousel-control {
  z-index: 3;
}

.blocks .well > a {
	font-size: 14px;
}

.small {
	font-size: 14px;
}

#tech-accordion {
       position: fixed;
       top: 120px;

}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
	