---
---
/* Override some defaults */
html, body {
  background-color: #eee;
  color: #333;

}

h1, h2, h3, h4, h5, h6 {
color #999;
font-weight: normal;
}

a:link {
	color: #993300;
}

a:visited {
	color: #993300;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}



.madrona-logo img {
	padding-top: 10px;
}

.ecotrust-logo {
	padding-top: 10px;
	color: #bbbbbb;
}

.primary-nav {
	margin-top: -10px;
}

.primary-nav .nav-pills > li > a {
	padding: 10px;
	font-size: 20px;

}

.primary-nav .nav .active a {
	background-color: #777777;
	color: white;
}

.primary-nav .nav a.active:hover {
	background-color: #bbbbbb;
}
.primary-nav .nav a:hover {
	background-color: #777777;
	color: white;
}

.primary-nav .nav a {
	color: #333;
}

.bugs {
	margin-top: 10px;
	margin-bottom: 10px;
}
.bug .row {
	margin: 0px auto;
}

/*.developer .bug {
	min-height: 115px;
}*/

.bug {
	color: #333;
	margin-bottom: 15px;
	background-color: #f2f2f2;
	border: 1px solid #eee;
	border: 1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;

	-webkit-box-shadow: 0 4px 4px -2px gray;
	   -moz-box-shadow: 0 4px 4px -2px gray;
	        box-shadow: 0 4px 4px -2px gray;
}

.bug p {
	font-size: 14px;
	color: #333;
}
.bug span {
	position: relative;
	top: 3px;
	left: -4px;
}
.bug .wide {
	left: 3px;
}
.bug .icon {
	width: 15%;
	padding-right: 4%;
}
.bug img {
	width: 32px;
	padding: 5px;
}
.bug .header {

	padding-left: 5px;
	padding-bottom: 3px;
	/*height: 40px;*/
	

}

.bug .header h3{
	font-size: 16px;
}

.bug a {
	color: #333;
}

.bugs a:hover {
	text-decoration: none;
	color: #333;
}



.bug .text {
	font-size: 16px;
	color: #333;
}

.bug .text p {
	padding-left: 50px;
}

.bug .text ul {
	padding-left: 20px;
}

.carousel .item > img {
	min-height: 400px;
	width: 100%;	
}
.carousel .carousel-caption {
	

}

.project {
	margin-bottom: 20px;
}
.project img {

	-webkit-box-shadow: 0 2px 2px -2px gray;
	   -moz-box-shadow: 0 2px 2px -2px gray;
	        box-shadow: 0 2px 2px -2px gray;
}

.services ul {
	list-style: none inside;
	list-style-image:url('/assets/img/checkbox2.png');
}
.services li {
	line-height: 28px;
	font-size: 16px;
}
/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
	