---
---

/* Override some defaults */
html, body {
  background-color: #eee;
  color: #333;

}

h1, h2, h3, h4, h5, h6 {
color: #333;
font-weight: normal;
}

a:link {
	color: #993300;
}

a:visited {
	color: #993300;
}
.container > footer {
  margin-top: 20px;
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding-top: 5px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
  margin: 0 -60px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.primary-content {
	margin-top: 20px;
}
h2.tagline {
	margin-bottom: 10px;
}


.carousel-caption p {
	font-size: 14px;
	line-height: 1;
}
.carousel-caption h4 {
	font-weight: bold;
}
.carousel-caption a.btn {
	color: #333;
}

a.carousel-control {
	color: #777;
}

.carousel-title {
  position: absolute;
  right: 8%;
  left: 37%;
  bottom: 25%;
  padding: 10px 10px 5px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);
}
.carousel-title h2 {
	font-size: 40px;
}
/*
.carousel .item  {
	height: 600px;
	width: 100%;	
}*/
.madrona-logo img {
	padding-top: 10px;
}
.madrona-logo {
	min-width: 300px;
}
.ecotrust-logo {
	margin-top: -10px;
}

.primary-nav .nav-pills > li > a {
	margin-top: 25px;
	padding: 10px;
	font-size:20px;

}

.primary-nav .nav .active a {
	background-color: #777777;
	color: white;
}

.primary-nav .nav a.active:hover {
	background-color: #bbbbbb;
}
.primary-nav .nav a:hover {
	background-color: #777777;
	color: white;
}

.primary-nav .nav a {
	color: #777;
}

.madrona-text {
	font-size: 20px;
}

.bug .row {
	margin: 0px auto;
}

.bug {
	color: #333;
	max-width: 268px;
	margin-bottom: 15px;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: inset 4px 4px 8px 0 #f7f7f7, inset -4px -4px 8px #e3e3e3;
	-webkit-box-shadow: inset 4px 4px 8px #f7f7f7, inset -4px -4px 8px #e3e3e3;
	box-shadow: inset 4px 4px 8px #f7f7f7, inset -4px -4px 8px #e3e3e3;
}


.feature .bug:hover {
	background-color: #e5e5e5;
	text-shadow: 1px 1px 1px #fff;	
}


.feature a:hover {
	text-decoration: none;
	color: #333;
}


.bug p {
	font-size: 14px;
	color: #666;
}
.bug span {
	position: relative;
	top: 3px;
	left: -4px;
}


.feature .bug img {
	width: 15%;
	max-width: 32px;
}
.bug img {
	padding: 5px;
}
.bug .header {

	padding-left: 5px;
	padding-bottom: 3px;
	/*height: 40px;*/
	

}

/*.bug .header h3{
	font-size: 16px;
}*/

.bug a {
	color: #333;
}


/*
.bug .text {
	font-size: 16px;
	color: #333;
}*/

.bug .text p {
	text-align: center;
}

.bug .text ul {
	padding-left: 48px;
}



.attrib {
	/*position:absolute;
	z-index:1;
	left:0;
	bottom:0;*/
	color: #777;
	font-size: 10px;
}
.attrib a {
	color: #777;
}

.project {
	margin-bottom: 20px;
}
.project img {

	-webkit-box-shadow: 0 2px 2px -2px gray;
	   -moz-box-shadow: 0 2px 2px -2px gray;
	        box-shadow: 0 2px 2px -2px gray;
}

.services ul {
	list-style: none inside;
	list-style-image:url('../img/checkbox2.png');
}
.services li {
	line-height: 28px;
	font-size: 16px;
}

.icons li {
	line-height: 40px;
}

.carousel.carousel-fade .item {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
  left: 0;
  z-index: 1;
}

.carousel.carousel-fade .carousel-control {
  z-index: 3;
}
/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
	