---
layout: page
---
<div class="row">
	<div class="span10">
		<h2>{{ page.title }}</h2>

		<p>{{page.blurb}}</p>
		{{content}}
		<div class="row">
			<div class="span4">
				<h3>Technology</h3>
				<ul>
					{% for tech in page.technology %}
					<li>{{tech}}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="span6">
				<h3>Links</h3>
				<dl>
					{% if page.learn-more %}
						<dt>Learn More</dt>
							<dd><a href="{{ page.learn-more }}">{{ page.learn-more }}</a></dd>
					{% endif %}
					{% if page.application %}
						<dt>Application</dt>
							<dd><a href="{{ page.application }}">{{ page.application }}</a></dd>
					{% endif %}
					{% if page.repo %}
						<dt>Source code</dt>
							<dd><a href="{{ page.repo }}">{{ page.repo }}</a></dd>
					{% endif %}
				</dl>
			</div>
		</div>
		<h3>Contact</h3>
		<p>For more information, contact {{ page.name }} at 
			<script language=javascript>
			  var address = "{{page.email}}";
			  var linkStart = "<a href=" + "mail" + "to:" + address + ">";
			  var linkEnd = "</a>";
			  var linkName = linkStart + linkEnd;
			  var linkAddress = linkStart + address + linkEnd;
			  document.write(linkName +  linkAddress);
			</script>
			</a>- {{ page.phone }}.
			{% if page.name2 %}
				Or contact {{page.name2}} at
				<script language=javascript>
			  var address = "{{page.email2}}";
			  var linkStart = "<a href=" + "mail" + "to:" + address + ">";
			  var linkEnd = "</a>";
			  var linkName = linkStart + linkEnd;
			  var linkAddress = linkStart + address + linkEnd;
				  document.write(linkName +  linkAddress);
				</script>
			</a>- {{ page.phone2 }}.
			{% endif %}

		</p>
	</div>
	<div class="span2">
		<!--{% include experience/accordion.html %}-->
	</div>
</div>
