<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
        <title>
            {{ page.title }}
        </title>
        {% if page.description %}
        <meta name="description" content="{{ page.description }}">
        {% endif %}
        <meta name="author" content="{{ site.author.name }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
            </script>
        <![endif]-->
        <!-- Le styles -->
        <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{BASE_PATH}}/assets/css/syntax.css">
        <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css"
        media="all">
        <script src="{{ BASE_PATH }}/assets/bootstrap/js/jquery.js">
        </script>
        <script src="{{BASE_PATH}}/assets/bootstrap/js/bootstrap-transition.js">
        </script>
        <script src="{{BASE_PATH}}/assets/bootstrap/js/bootstrap-carousel.js">
        </script>
        <script src="{{BASE_PATH}}/assets/bootstrap/js/bootstrap-tooltip.js">
        </script>
        <script src="{{BASE_PATH}}/assets/bootstrap/js/bootstrap-popover.js">
        </script>

        <script src="{{ BASE_PATH }}/assets/js/knockout-2.0.0.js"></script>
        <script src="{{ BASE_PATH }}/assets/js/knockout.mapping-latest.js"></script>
        <script src="{{ BASE_PATH }}/assets/js/iso8601.min.js"></script>

        <link rel="shortcut icon" href="{{ ASSET_PATH }}/img/favicon.ico">
        <script src="{{BASE_PATH}}/assets/bootstrap/js/bootstrap-collapse.js">
        </script>
        <!-- Le fav and touch icons -->
        <!-- Update these with your own images <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
    </head>
    
    <body>
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="span4 madrona-logo">
                        <a href="{{BASE_PATH}}/"><img src="{{BASE_PATH}}/assets/img/madrona-logo.png"/></a>
                    </div>
                    <div class="span8">
                        <div class="primary-nav">
                            <div class="pull-right">
                                <ul class="nav nav-pills">
                                    {% for link in site.links %}
                                        {% if link == page.active %}    
                                        <li class="active">
                                        {% else %}
                                        <li>
                                        {% endif %}
                                            <a href="{{ BASE_PATH }}/{{ link }}">{{ link }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row nav-bar">
                    {% if page.tagline %}
                    <div class="span6"><span class="madrona-quote">{{ page.tagline }}</span></div>
                    <div class="span6">
                    {% else %}
                    <div class="span6 offset6">
                    {% endif %} 
                    </div>
                </div>
                {{ content }}
            </div>
            <footer>
                {% include footer.html %}
            </footer>
        </div>
        <!-- /container -->
        {% include JB/analytics %}
    </body>

</html>
<!-- Place this render call where appropriate -->
<script type="text/javascript">
  (function() {
      var po = document.createElement('script');
      po.type = 'text/javascript';
      po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(po, s);
  })();
</script>
<script>
!
function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = "//platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
    }
}(document, "script", "twitter-wjs");
</script>
