<div class="row logo-bar">
	<div class="span7">
		<a href="/"><img class="madrona-logo" src="assets/img/madrona-logo.png"/></a>
	</div>
	<div class="span5">
		<div class="ecotrust-logo hidden-phone pull-right">
			<p>a project of ecotrust</p>
			<img  src="assets/img/ecotrust_logo08.png"/>
		</div>
	</div>
</div>
<div class="row">
	{% if page.tagline %}
	<div class="span5"><h3 class="madrona-quote">{{ page.tagline }}</h3></div>
	<div class="span7">
	{% else %}
	<div class="span7 offset5">
	{% endif %}
		<div class="primary-nav">
			<div class="pull-right">
				<ul class="nav nav-pills">
				    <li class="active">
				    	<a href="{{ BASE_PATH }}/services.html"><h4>
				    	<img src="{{ BASE_PATH }}/assets/img/tree-icon-white.png"> services</h4></a>
				    </li>
					<li><a href="{{ BASE_PATH }}/experience.html">
						<h4><img src="{{ BASE_PATH }}/assets/img/tree-icon.png">  experience</h4></a></li>
					<li><a href="{{ BASE_PATH }}/technology.html">
						<h4><img src="{{ BASE_PATH }}/assets/img/tree-icon.png"> technology</h4></a></li>
					<li><a href="{{ BASE_PATH }}/developer.html">
						<h4><img src="{{ BASE_PATH }}/assets/img/tree-icon.png"> developer</h4></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="primary-content">
	  <div class="span12">
	    {{ content }}
	  </div>
	</div>
</div>