<div class="row-fluid logo-bar">
	<div class="span4">
		<div>
			<img class="madrona-logo" src="assets/img/madrona-logo.png"/>
		</div>
	</div>
	<div class="span8">
		<div class="ecotrust-logo">
			<p>a project of ecotrust</p>
			<img  src="assets/img/ecotrust_logo08.png"/>
		</div>
		<div class="pull-right">
			<div class="primary-nav">
				<ul class="nav nav-pills">
				    <li class="active">
				    	<a href="{{ BASE_PATH }}/services.html">
				    	<img src="{{ BASE_PATH }}/assets/img/tree-icon-white.png"> services</a>
				    </li>
					<li><a href="{{ BASE_PATH }}/experience.html"><img src="{{ BASE_PATH }}/assets/img/tree-icon.png"> experience</a></li>
					<li><a href="{{ BASE_PATH }}/technology.html"><img src="{{ BASE_PATH }}/assets/img/tree-icon.png"> technology</a></li>
					<li><a href="{{ BASE_PATH }}/developer.html"><img src="{{ BASE_PATH }}/assets/img/tree-icon.png"> developer</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="primary-content">
	  <div class="span12">
	    {{ content }}
	  </div>
	</div>
</div>