<div class="row logo-bar">
	<div class="span6 madrona-logo">
		<a href="{{BASE_PATH}}/"><img src="{{BASE_PATH}}/assets/img/madrona-logo.png"/></a>
	</div>
	<div class="span6">
		<div class="pull-right ecotrust-logo">
			<span>a project of</span>
			<a href="http://www.ecotrust.org"><img src="{{ BASE_PATH }}/assets/img/ecotrust_logo08.png"/></a>
		</div>
	</div>
</div>
<div class="row nav-bar">
	{% if page.tagline %}
	<div class="span6"><span class="madrona-quote">{{ page.tagline }}</span></div>
	<div class="span6">
	{% else %}
	<div class="span6 offset6">
	{% endif %}
		<div class="primary-nav">
			<div class="pull-right">
				<ul class="nav nav-pills">
				    <li id="services">
				    	<a href="{{ BASE_PATH }}/services">services</a>
				    </li>
					<li id="experience"><a href="{{ BASE_PATH }}/experience">experience</a></li>
					<li id="technology"><a href="{{ BASE_PATH }}/technology">technology</a></li>
					<li id="developer"><a href="{{ BASE_PATH }}/developer">developer</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script>
var id = '{{ page.active }}';
if (id) {
document.getElementById(id).className = "active";
}
</script>
<div class="row">
	<div class="primary-content">
	  <div class="span12">
	    {{ content }}
	  </div>
	</div>
</div>