{% include JB/setup %}
<h2>{{ page.title }}</h2>

<div class="row">
  <div class="span8">
    {{ content }}
    <hr>
    {% include JB/comments %}
  </div>
  
  <div class="span4">
    {% if page.author %}
    <h3>Author</h3>
    <span><a href="{{BASE_PATH}}/experience/whois.html">{{ page.author }}</a>
    {% endif %} 
    <br/><br/>
    <h3>Published</h3>
    <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
    <div class="pagination">
      <ul>
    <!-- {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %} -->
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      <!--{% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}-->
      </ul>
    </div>
  {% unless page.tags == empty %}
    <h3>Tags</h3>
    <ul class="tag_box">
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
    </ul>
  {% endunless %}  
  </div>
</div>
